RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app.py/$1 [L]

# Disable directory browsing
Options -Indexes

# Set Python handler
AddHandler cgi-script .py 