RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ passenger_wsgi.py/$1 [QSA,L]

# For improved security
<Files *.py>
    Order Deny,Allow
    Deny from all
</Files>

<Files passenger_wsgi.py>
    Order Allow,Deny
    Allow from all
</Files>

# Disable directory browsing
Options -Indexes

# Set error log
php_flag log_errors on
php_value error_log error.log

# Add proper MIME types
AddType text/css .css
AddType text/javascript .js
AddType image/jpeg .jpg .jpeg
AddType image/png .png 